<launch>
    <arg name="imu_topic" default="/mavros/imu/data_raw"/>
    <arg name="bag_path" default="assets/imu_test_00.bag"/>

    <!-- start rosbag -->
    <node type="play" name="rosbag" pkg="rosbag" args="$(arg bag_path)"/>

    <!-- start node -->
    <node type="ins_ins_init_acc" name="test_ins_init_acc" pkg="ins_init">
      <param name="imu_topic" value="$(arg imu_topic)"/> 
    </node> 
</launch>
